<html>
    <head>
        {{> header}}

    </head>

    <body>
        
        <div  class='container'>
        
            {{> menu}}
            <h1 class="h1">My Articles</h1>
            <div class="list-group">
                {{#articles}}
                <a href="#" class="list-group-item list-group-item-action" aria-current="true"/>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{title}}</h5>
                
                    </div>
                    <p class="mb-1">{{body}}</p>
                </a>
                <div class="article-action-button">
                    <a href="/users/articles/edit/{{articleid}}" class='button-space'>
                        <button type='button' class='btn btn-primary'>Edit</button>

                    </a>
                    <div>  </div>
                    <form action="/users/delete-article" method="POST">
                        <input type="hidden" name="articleId" value="{{articleid}}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                {{/articles}}
                
            </div>
            
        </div>
        {{> footer}}

    </body>
</html>
